<mat-card>
  <form (submit)="onSavePost(postForm)" #postForm="ngForm">
    <mat-form-field>
      <input matInput placeholder="Post title" name="title" [ngModel]="post?.title" #title="ngModel" minlength="3"
        required>
      <mat-error *ngIf="title.invalid">Please enter proper title</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea matInput placeholder="Post content" name="content" rows="6" [ngModel]="post?.content"
        required></textarea>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">Save</button>
  </form>
</mat-card>
